In [1]:
import pandas
hp = pandas.read_csv('house-prices.csv')
print(hp)
hp.head()

       name  size  bedrooms  bathrooms  garage_size   price
0   house A    64       3.0        2.0          NaN  430000
1   house B    42       2.0        1.0          1.0  260000
2   house C    53       3.0        2.0          2.0  330000
3   house D    42       2.0        1.0          1.0  255000
4   house E    64       3.0        2.0          2.0  410000
5   house F    70       4.0        3.0          2.0  450000
6   house G    38       2.0        1.0          1.0  245000
7   house H    55       3.0        NaN          2.0  360000
8   house I    48       2.0        1.0          1.0  305000
9   house J    60       3.0        2.0          2.0  390000
10  house K    33       2.0        1.0          0.0  220000
11  house L    58       3.0        2.0          2.0  375000
12  house M    46       2.0        1.0          1.0  290000
13  house N    62       3.0        2.0          2.0  400000
14  house O    35       NaN        1.0          0.0  230000
15  house P    51       3.0        2.0          2.0  340000
16  house Q    45       2.0        1.0          1.0  295000
17  house R    67       4.0        3.0          2.0  430000
18  house S    40       2.0        1.0          1.0  255000
19  house T    53       3.0        2.0          2.0  345000

      name  size  bedrooms  bathrooms  garage_size   price
0  house A    64       3.0        2.0          NaN  430000
1  house B    42       2.0        1.0          1.0  260000
2  house C    53       3.0        2.0          2.0  330000
3  house D    42       2.0        1.0          1.0  255000
4  house E    64       3.0        2.0          2.0  410000